
		body{
			background:url(shore2.jpg) no-repeat;
			background-size: 100% 100vh;
			}
		
			h2,p{
				text-align: center;
				}
		
			a{
				text-decoration: none;
				color: #ccc;
			}
		
			h1{ 

				background-color: #333;
				font-color: "white";
			}
	      
			a:hover {
				background-color:red;
			}
		
		
